<h1>{{name}}</h1>

{{#if isEditing}}
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="form-group">
      <label for="type">Type</label>
      {{input value=type id="type" class="form-control"}}
    </div>

    <button class="btn btn-primary" {{action 'save'}}>Save</button>
  </form>
{{else}}
  <p>{{body}}</p>

  <button class="btn btn-primary" {{action 'edit'}}>Edit</button>
{{/if}}

{{outlet}}

<h2>Items</h2>

{{#each item in items itemController="item"}}
  <p>
    {{item.name}} ${{item.estimate}}<br>
    <img {{bind-attr src=item.photo}} width="20%" height="20%" alt="Logo">

    <button class="btn btn-xs btn-danger" {{action 'delete'}}>Delete</button>
  </p>
{{/each}}

<p>{{#link-to 'new-item' this class="btn btn-success"}}New item{{/link-to}}</p>
